.todo-input-container{
    padding: 0 50px; 
    margin-bottom: 64px;
}

.todo-input-container .todo-input-items{
    display: flex;
}

.todo-input-container .todo-input-items input{
    width: 100%;
    padding: 15px;
    outline: none;
    font-size: 16px;
    background: #152431;
    border: 1px solid #8FA8C180;
    margin-right: 8px;
    height: 40px;
    color: #8FA8C1;
}

.todo-input-container .todo-input-items input::placeholder{
    color: #8FA8C1;
    font-size: 14px;
}

.todo-input-container .todo-input-items button{
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    padding: 0 13px;
    border-radius: 4px;
    background: #0C5488;
    width: 95px;
    color : #8FA8C1;
    font-weight: 500;


}
 .danger{
    color: #8FA8C1;
    font-size: 12px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}